@page
@model LiquerStore.Web.Pages.Liquers.CreateModel
@using LiquerStore.DAL.Models;

@{
    ViewData["Title"] = "Aanmaken";
}

<h1>Product aanmaken</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WhiskyModel.Name" class="control-label"></label>
                <input asp-for="WhiskyModel.Name" class="form-control" />
                <span asp-validation-for="WhiskyModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.Age" class="control-label"></label>
                <input asp-for="WhiskyModel.Age" max="255" class="form-control" />
                <span asp-validation-for="WhiskyModel.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.ProductionArea" class="control-label"></label>
                <input asp-for="WhiskyModel.ProductionArea" class="form-control" />
                <span asp-validation-for="WhiskyModel.ProductionArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.AlcoholPercentage" class="control-label"></label>
                <input asp-for="WhiskyModel.AlcoholPercentage" class="form-control" />
                <span asp-validation-for="WhiskyModel.AlcoholPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.Kind" class="control-label"></label>
                <select asp-for="WhiskyModel.Kind" asp-items="Html.GetEnumSelectList<WhiskyKind>()" class="form-control"><option>Selecteer een optie ...</option></select>
                <span asp-validation-for="WhiskyModel.Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.LabelPath" class="control-label"></label>
                <input asp-for="WhiskyModel.LabelPath" class="form-control" />
                <span asp-validation-for="WhiskyModel.LabelPath" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
=======
                <label asp-for="WhiskyModel.Count"></label>
                <input asp-for="WhiskyModel.Count" min="0" value="0" class="form-control" />
                <span asp-validation-for="WhiskyModel.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
>>>>>>> 6bc1b819e61852b14cac22341fe29c094497294f
                <input type="submit" value="Maak aan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Terug naar product lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
