@page
@model LiquerStore.Web.Pages.Liquers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WhiskyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WhiskyModel.Id" />
            <div class="form-group">
                <label asp-for="WhiskyModel.Name" class="control-label"></label>
                <input asp-for="WhiskyModel.Name" class="form-control" />
                <span asp-validation-for="WhiskyModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.Age" class="control-label"></label>
                <input asp-for="WhiskyModel.Age" class="form-control" />
                <span asp-validation-for="WhiskyModel.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.ProductionArea" class="control-label"></label>
                <input asp-for="WhiskyModel.ProductionArea" class="form-control" />
                <span asp-validation-for="WhiskyModel.ProductionArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.AlcoholPercentage" class="control-label"></label>
                <input asp-for="WhiskyModel.AlcoholPercentage" class="form-control" />
                <span asp-validation-for="WhiskyModel.AlcoholPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.Kind" class="control-label"></label>
                <select asp-for="WhiskyModel.Kind" class="form-control"></select>
                <span asp-validation-for="WhiskyModel.Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhiskyModel.LabelPath" class="control-label"></label>
                <input asp-for="WhiskyModel.LabelPath" class="form-control" />
                <span asp-validation-for="WhiskyModel.LabelPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
