@page
@model LiquerStore.Web.Pages.Products.UpdateAmountModel
@using LiquerStore.DAL.Models;

@{
    ViewData["Title"] = "Aanpassen";
}

<h1>Aanpassen</h1>

<h4>Aantal</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StorageModel.Id" />
            <input type="hidden" asp-for="StorageModel.SoftDeleted" />
            <input type="hidden" asp-for="StorageModel.Whisky" />
            <h2>Aantallen</h2>
            <div class="form-group">
                <label asp-for="StorageModel.Available" class="control-label"></label>
                <input asp-for="StorageModel.Available" class="form-control" />
                <span asp-validation-for="StorageModel.Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageModel.Reserved" class="control-label"></label>
                <input asp-for="StorageModel.Reserved" class="form-control" disabled/>
                <span asp-validation-for="StorageModel.Reserved" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sla op" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-page="./Index">Terug naar product lijst</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}