@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Please go to <a asp-page="./Products/Index">Products</a> or <a asp-page="./Reserve/Index">Reserving</a></h1>
</div>